.sectionHeading {
    font-size: 48px;
    font-weight: 600;
    line-height: 67px;
    text-align: center;
    color: var(--secondary-blue);
    margin-top: 4rem;
}

.subheading {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: var(--primary-blue);
}

.splitter {
    display: flex;
    min-height: 598px;
    align-items: center;
}

.imageContainer {
    min-width: 300px;
    max-width: 600px;
}

.imageContainer img {
    width: 100%;
    height:  100%;
}



.splitter > div {
    flex: 1 1 auto;
}

@media screen and (max-width: 760px) {
    .splitter {
        flex-direction: column;
        justify-content: center;
    }
}