.button {
    outline: none;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    color: var(--light);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}