@import "@fontsource/poppins";

:root {
  --light: #FFFFFF;
  --dark: #000000;
  --primary-blue: #2AA7FF;
  --text-secondary-blue: #102851;
  --secondary-blue: #1B3C74;
  --success: #00A500;
  --bluewhite-linear-gradient: linear-gradient(144.2deg, #E1F3FF 0%, #2AA7FF 100%);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins";
}
