.container {
    min-height: 600px;
    margin-bottom: 75px;
}

.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.container > div {
    flex: 1 1 50%;
}

.imageContainer {
    width: 500px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
}

.textContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.arrowContainer {
    position: absolute;
    top: 53px;
    left: -15%;
}

.title {
    font-size: 48px;
    font-weight: 600;
    line-height: 67px;
    color: var(--secondary-blue);
}

.title span {
    color: var(--primary-blue);
}

.subheading {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.smsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.inputContainer ,.downloadButton{
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.downloadButton {
    flex-wrap: wrap;
}

.inputContainer input {
    outline: none;
    border: 1px solid #F0F0F0;
    color: black;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .arrowContainer {
        left: -10%;
    }

    
}

@media screen and (max-width: 600px) {
    .imageContainer {
        width: 300px;
    }
}
